$primary-orange: #ef6f31;
$secondary-orange: #fdf0ea;
$tertiary-orange: #fbf1eb;

$primary-blue: #b2e0f6;
$secondary-blue: #f5f7fa;

$primary-gray: #333333;
$secondary-gray: #79787b;



$banner-color: #fbf9f6;
$header-top-bg: #f5f5f5;
$footer-blue: #244186;